//- Main landing page
//- Uses client side rendering to display data

extends template

block append head
  title NiceHash Buyer Profitability Chart
  meta(name="description" content="Automatically estimates how profitable it is to buy hashing power on NiceHash in a convenient chart.")
  link(rel="stylesheet" href="style.css")

block body
  h1 NiceHash Buyer Profitability Chart
  noscript
    h1 Please enable JavaScript to use this site OR try the <a href="beta">beta version</a> that works without javascript.
  <!--[if lt IE 9]><h1>Please update your browser to use this site.</h1><![endif]-->

  p.
    This website <b>**estimates**</b> the profitability of buying hashing power on NiceHash ignoring fees.
    This is not investing advice.
    <b>I am not responsible for any losses that may come as a result of this site.</b>
  p.
    This site is <a href="https://github.com/GarboMuffin/nicehash-calculator-web/">open source</a>.
    Please <a href="https://github.com/GarboMuffin/nicehash-calculator-web/issues/new">report bugs or suggest features</a>.

  p.
    If this site is useful then please consider donating at the bottom of this site.
  p.
    Yellow coins are the most profitable coin of their algorithm.
    The ROI column is the column you probably care the most about.
    Hover over column headers for more details.

  hr

  p Last updated:
    | 
    span#last-updated
      i Loading...
    |  (updated around every four hours and I do intend to change this)
  p#please-wait
    i Loading... Please wait...
  p#no-data
    b No data. Please refresh in a few minutes.
  table#table
    tr
      th(title="Name and abbreviation of the coin.") Coin Name
      th(title="The corresponding algorithm on NiceHash.") Algorithm
      th(title="Average cost to buy hashing power for this coin on NiceHash. It is possible to have orders for less than this number.") Price / Cost
      th(title="Estimated rewards for mining that coin.") Revenue / Rewards
      th(title="Revenue minus cost.") Profit
      th(title="If you put X BTC in, expect Y% of X BTC out." class="highlight") ROI

  hr

  p.
    You can view the <a href="data.json">raw data with a lot more information than shown here</a> (mostly useless).
    You're welcome to use that pretty much however you want.

  hr

  #donations
    div
      b Consider donating:
    include donations

  script(src="script.js")
