mixin table()
  table#table
    tr
      th(title="Name and abbreviation of the coin.") Coin Name
      th(title="The corresponding algorithm on NiceHash.") Algorithm
      th(title="Average cost to buy hashing power for this coin on NiceHash. It is possible to have good orders for less than this number.") Price / Cost
      th(title="Estimated rewards for mining that coin.") Revenue / Rewards
      th(title="Revenue minus cost.") Profit
      th(title="If you put X BTC in, expect Y% of X BTC out." class="highlight") ROI
    if block
      block
