body {
  font-family: sans-serif;
}
.dark {
  background-color: #111;
  color: #eee;
}

/* Link Styles */
a {
  color: #00f;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: #f00;
}
.dark a {
  color: #88f;
}
.dark a:active {
  color: #aaf;
}

/* Donations */
#donations {
  text-align: center;
  font-size: 0.9em;
}
.donation {
  text-align: center;
}

/* Errors */
.error {
  font-weight: bold;
  border-left: 10px solid #ff3333;
  color: #000000;
  background: #ffa0a0;
  padding: 10px 5px;
}

/* Lagging coins */
.lagging {
  text-decoration: line-through;
}
.lagging:hover {
  text-decoration: none;
}
.lagging:hover:after {
  content: "coin is lagging";
  font-size: 11px;
  display: block;
  text-align: center;
}

/* Table */
table {
  border-collapse: collapse;
}
td, th {
  padding: 4px;
  border: 1px solid #000;
}
tr:hover {
  background-color: #eaeaea;
}
.highlight, tr.highlight {
  background-color: #ffffb5;
}
.highlight:hover, tr.highlight:hover, tr:hover .highlight {
  background-color: #eaeaa0;
}
.cell-profitable {
  background-color: #5fff5f;
}
.cell-not-profitable {
  background-color: #ff7070;
}
tr:hover .cell-profitable {
  background-color: #4aea4a;
}
tr:hover .cell-not-profitable {
  background-color: #ea5b5b;
}

.dark .highlight, .dark tr.highlight {
  background-color: #383623;
}
.dark .highlight:hover, .dark tr.highlight:hover, .dark tr:hover .highlight {
  background-color: #484835;
}
.dark td, .dark th {
  border-color: #444;
}
.dark tr:hover {
  background-color: #222;
}
.dark .cell-profitable {
  background-color: #004a00;
}
.dark tr:hover .cell-profitable {
  background-color: #005c08;
}
.dark .cell-not-profitable {
  background-color: #740000;
}
.dark tr:hover .cell-not-profitable {
  background-color: #810404;
}

.no-js #dark-mode-container {
  display: none;
}
#dark-mode-container {
  position: absolute;
  right: 5px;
  top: 5px;
  opacity: 0.5;
  transition: 0.2s opacity;
}
#dark-mode-container:hover {
  opacity: 1;
}
