extends layout

block append head
  title In Browser Calculations

block body
  h1 In Browser Calculations
  p This allows you to calculate the most up to date profitability data for all the coins on the homepage without relying on it to update often.
  noscript
    p
      b Please enable JavaScript.
  select#coin-dropdown
    option(selected disabled value="-1")#default-option Loading... Please wait...
  button#button(disabled) Get Data
  #output
    mixin item(text, id)
      div
        b= text + ":"
        |
        |
        span(id=id)
    +item("Name", "output-name")
    +item("Algorithm", "output-algorithm")
    +item("Price", "output-price")
    +item("Revenue", "output-revenue")
    +item("Profit", "output-profit")
    +item("ROI", "output-roi")
  script(src="calculate.js")
