extends layout

block append head
  title NiceHash Buyer Profitability Table
  meta(name="description" content="Automatically estimates the profitability of buying hashing power on NiceHash.")

block body
  h1 NiceHash Buyer Profitability Table

  p Estimatations of the profitability of buying hashing power on <a href="https://www.nicehash.com/?refby=258346">NiceHash</a> ignoring fees. I am not affiliated with NiceHash and not responsible for any potential losses.
  p The source code is <a href="https://github.com/GarboMuffin/nicehash-calculator-web/">on GitHub</a>. Please <a href="https://github.com/GarboMuffin/nicehash-calculator-web/issues/">report bugs or suggest features</a>.

  noscript
    p
      small
        strong Enable JavaScript for localized dates and optional night mode. (No ads, no analytics, no miners, etc.)

  hr

  if data.coins && data.coins.length > 0
    - var date = (new Date(data.lastUpdated));
    - var timeSinceUpdate = Date.now() - date;
    - var minutesPerUpdate = Math.round(refreshTime / 1000 / 60);
    p= "Last update: "
      span.utc-text= date.toISOString() + " (UTC)"
      |  (updated around every #{minutesPerUpdate} minutes) <a href="history">Historical data</a> is available.

    //- Include an error message for cases where data updates have failed to run.
    if failures > 0
      p.error The last #{failures} data update(s) have FAILED. This is probably a bug, please report it.

    include table
  else
    p.error#no-data No data to show. Try refreshing in a few minutes. If this lasts more than a few minutes then it is probably a bug, please report it.

  p
    a(href="data.json") Raw JSON
