doctype
html.no-js(lang="en")
  head
    block head
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      link(rel="stylesheet" href="/style.css")

  body
    #dark-mode-container
      a#dark-mode-toggle(href="#") Toggle night mode
    block body
    block footer
      hr
      #donations
        div
          b Consider donating:
        .donation BTC (bech32): bc1qkuz9a4trzgvdq9sru800jtxfz0ld0vtwrqu0nq
        .donation BTC: 1JZS1fhPHuxCyhPFYLYFoNzArTRJsJArwv
        .donation BCH: qzjtsdg8uskpa8q5lgt7rxvxm7gv27vk0qrwgyy0nz
        .donation LTC: LNTXpx86L2ADQPMC3t78jNvramJ1xMS2F4
        .donation ETH: 0xE9eDFAB6565695C01c1978B9782ad1FE22b3E5AC
        .donation DOGE: DS7aiQgXqFrmwG3bRK3kzC78Hb114y7Y1R
      script(src="/script.js")
