table {
  border-collapse: collapse;
}

td, th {
  padding: 4px;
  border: 1px solid black;
}

$dim: #151515;
$green: #5fff5f;
$red: #ff7070;
$highlight: #ffffb5;

tr {
  background-color: #FFF;
}
tr:hover {
  background-color: #FFF - $dim;
}

.highlight, tr.highlight {
  background-color: $highlight;
}
.highlight:hover, tr.highlight:hover {
  background-color: $highlight - $dim;
}

td.cell-profitable, th.cell-profitable {
  background-color: $green;
}

td.cell-not-profitable, th.cell-not-profitable {
  background-color: $red;
}

tr:hover {
  .highlight {
    background-color: $highlight - $dim;
  }

  .cell-profitable {
    background-color: $green - $dim;
  }

  .cell-not-profitable {
    background-color: $red - $dim;
  }
}
