@import "tables";

body {
  font-family: sans-serif;
}

// Links
a {
  color: blue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: red;
}

// Donations
#donations {
  text-align: center;
  font-size: 0.9em;
}
.donation {
  text-align: center;
}

// Errors
.error {
  font-weight: bold;
}

// Lagging coins
.lagging {
  text-decoration: line-through;
}
.lagging:hover {
  text-decoration: none;
}
.lagging:hover:after {
  content: "coin is lagging";
  font-size: 11px;
  display: block;
  text-align: center;
}
