td, th {
  padding: 3px;
  border: 1px solid black;
}

tr {
  background-color: #FFF;
}
tr:hover {
  background-color: #EEE;
}

$greenColor: #5fff5f;
$greenHoverColor: #48e248;
$redColor: #ff0000;
$redHoverColor: #eb0000;
$highlightColor: #ffffb5;
$highlightHoverColor: #e4e4a8;

.highlight, tr.highlight {
  background-color: $highlightColor;
}
.highlight:hover, tr.highlight:hover {
  background-color: $highlightHoverColor;
}

td.cell-green, th.cell-green {
  background-color: $greenColor;
}

td.cell-red, th.cell-red {
  background-color: $redColor;
  color: white;
}

td.cell-green:hover, th.cell-green:hover {
  background-color: $greenHoverColor;
}
td.cell-red:hover, th.cell-red:hover {
  background-color: $redHoverColor;
}

tr:hover {
  .highlight {
    background-color: $highlightHoverColor;
  }

  .cell-green {
    background-color: $greenHoverColor;
  }

  .cell-red {
    background-color: $redHoverColor;
  }
}
