table {
  border-collapse: collapse;
}

td, th {
  padding: 4px;
  border: 1px solid black;
}

$headerColor: #e4f2f7;
$dim: #151515;
$greenColor: #5fff5f;
$redColor: #ff7070;
$highlightColor: #ffffb5;

thead {
  tr {
    background-color: $headerColor;
  }
  tr:hover {
    background-color: $headerColor - $dim;
  }
}

tbody {
  tr {
    background-color: #FFF;
  }
  tr:hover {
    background-color: #FFF - $dim;
  }
}


.highlight, tr.highlight {
  background-color: $highlightColor;
}
.highlight:hover, tr.highlight:hover {
  background-color: $highlightColor - $dim;
}

td.cell-green, th.cell-green {
  background-color: $greenColor;
}

td.cell-red, th.cell-red {
  background-color: $redColor;
}

tr:hover {
  .highlight {
    background-color: $highlightColor - $dim;
  }

  .cell-green {
    background-color: $greenColor - $dim;
  }

  .cell-red {
    background-color: $redColor - $dim;
  }
}
