extends ../layout

block append head
  title Historical Data

block body
  h2 Historical Data
  p
    b JSON API:
    |  <a href="/history.json">/history.json</a> and <a href="1520736158493.json">/history/123456789.json</a>
    i  (Be warned that the data format has changed slightly over time, specific coins come and go, and the data is not always accurate)
  p
    b Licensing:
    |  All data availible here is <b>public domain</b>. No rights reserved.
  ul
    each date in data
      li
        a(href=date).utc-text= (new Date(+date)).toISOString()
