extends ../layout

block append head
  title Old Data

block body
  p List of all saved data:
  ul
    each date in data
      li
        a(href=`/history/${date}`).utc-text= (new Date(+date)).toISOString()
