extends ../layout

block append head
  title Snapshot Of Data

block body
  - var jsonUrl = +sourceDate + ".json"
  p Snapshot of the estimated profitability at #[span.utc-text= sourceDate.toISOString()]:
  include ../table
  p
    a(href=jsonUrl) Raw JSON
