extends ../layout

block append head
  title Snapshot of Profitability

block body
  p Snapshot of the estimated profitability at
    |
    |
    span.utc-text= sourceDate.toISOString()
    |:
  include ../table
